/**
 * Stylesheet for channel panel
 */

div.channel-panel-form-container {
    border: #F8F8F8 solid 2px;
    border-radius: 8px;
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: 160px;
    background-color: #FDFDFD;
    margin: 15px 2px 2px;
}

div.channel-panel-form-header {
    background-color: #DBDBDB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 35px;
    padding-top: 2px;
}

div.channel-panel-form-header span {
    padding-left: 15px;
    font-weight: bold;
    font-size: large;
}


/* Log tab styling */
div.channel-log-tab-wrapper {
    border-bottom: #E0E0E0 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

span.channel-log-tab-date {
    font-size: small;
    font-family: monospace;
    color: #002040;
}

.channel-log-tab-user-badge {
    margin-left: 5px;
}
