/**
 * Styling for channel list form
 */

div.channel-list-form-container {
    border: #F8F8F8 solid 2px;
    border-radius: 8px;
    margin: 2px;
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: 160px;
    background-color: #FDFDFD;
}

div.channel-list-form-padded-container {
    margin: 10px;
}

div.channel-list-form-hidden {
    height: 0;
    transition: height 100ms, transform 100ms;
    transform: scaleY(0);
}

div.channel-list-form {
    margin-top: 20px;
    height: 40px;
    transition: height 100ms, transform 100ms;
    transform: scaleY(1);
    display: block;
}

/* Channel filtering styling */
div.channel-list-filter-active {
    border-bottom: solid 2px black;
}

div.channel-list-filter-inactive {
    background-color: #DBDBDB;
    color: #25A;
    cursor: pointer;
}


/* Channel tab styling */
div.channel-tab-wrapper {
    border-bottom: #E0E0E0 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

div.channel-tab-wrapper-collapsed {
    background-color: #F6F6F6;
}

div.channel-tab-wrapper-expanded {
    background-color: #FDFDFD;
}

div.channel-tab-wrapper-collapsed:hover {
    background-color: #FAFAFA;
}

span.channel-tab-title {
    font-size: large;
    font-weight: bold;
    color: #002040;
}

span.channel-tab-owner {
    font-size: small;
}
