/**
 * Styling for login and registration forms
 */

/* Login-Register body */
div.login-register-form {
    border: lightgrey solid 2px;
    border-radius: 8px;
    padding: 0;
    margin: 10px;
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: 160px;
    background-color: #EEE;
}

div.login-register-body {
    float: top;
    padding: 20px;
}


/* Login-Register title */
div.login-register-header {
    box-sizing: border-box;
    padding: 0;
    min-height: 60px;
}

div.login-title-selector {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

div.active-title-selector span {
    border-bottom: solid 2px black;
}

div.inactive-title-selector {
    background-color: #DBDBDB;
    color: #25A;
    cursor: pointer;
}

div.inactive-title-selector:hover {
    background-color: #DFDFDF;
    color: #2A5DC2;
}

div.register-title-selector {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    padding-bottom: 10px;
}

span.login-register-form-title {
    font-weight: bold;
    font-size: x-large;
    padding-left: 8px;
    padding-right: 8px;
}

span.login-register-title-active {
    display: inline-block;
}
