/**
 * Stylesheet for settings page
 */

div.settings-form-container {
    border: #F8F8F8 solid 2px;
    border-radius: 8px;
    border-collapse: collapse;
    box-sizing: border-box;
    min-width: 160px;
    background-color: #FDFDFD;
    margin: 15px 2px 2px;
}

div.settings-form-header {
    background-color: #DBDBDB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-height: 35px;
    padding-top: 2px;
}

div.settings-form-header span {
    padding-left: 15px;
    font-weight: bold;
    font-size: large;
}
